* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }
.logo {
	position: absolute;
	top: 10px;
	left: 10px; /* ปรับ left เป็น left */
	max-width: 120px; /* ปรับขนาดตามต้องการ */
	z-index: 1; /* ให้มีลำดับการแสดงผลเหนือส่วนอื่น */
}
.header {
    background-color: #c3002f;
    font-size: 22px;
    text-align: left;
    margin-left: 0px;
    color: #ffffff;
    top: 0px;
    left: 0px;
    font-weight: 200;
}

body{
    font-family: 'Noto Sans Thai', sans-serif;
    width: 100%;
    height: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;

}
.container {
	position: relative;
	max-width: 1000px;
	left 1000px;
	top 160px;
	width: 900px;
	border-radius: 6px;
	padding: 30px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
    background-color: #ffd13f;
    color: #fff;
    width: 200px;
    height: 1200px;
    position: absolute;
    top: 183px;
    left: 0;
    padding-top: 20px;
}

.sidebar-content {
    padding: 20px;
}

.sidebar p {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    display: block;
}
.sidebar a:hover {
    color: #c3002f;
}
.horizontal-bar {
    background-color: #383A3D; /* เปลี่ยนสีตามที่ต้องการ */
    height: 50px; /* กำหนดความสูงตามที่ต้องการ */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container p {
	position: relative;
	font-size: 25px;
	font-weight: 600;
	color: #333;
	text-align: center;
}

.container form {
	position: relative;
	margin-top: 16px;
	min-height: 490px;
	background-color: #fff;
	display: flex; /* เพิ่ม */
    flex-direction: column; /* เพิ่ม */
    align-items: center; /* เพิ่ม */
}

.container form .title {
	display: block;
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 500;
	margin: 6px 0;
	color: #333;
}
.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    resize: vertical;
}
/* Center both text and input elements in table cells */

.container table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-align: center;
    table-layout: fixed;
    margin-bottom: 50px;
    border: 1px solid black;
}

.container th {
	background-color: #F2F2F2;
	padding: 12px 12px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.container td {
	padding: 3px 12px 3px 12px;
	font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.container td input {
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100%;
    text-align: center;
}

.container td checkbox {
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100%;
}

.container td input[type="checkbox"] {
	height: 25px;
}

form .fields .input-field {
    display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;

}

.input-field label {
	font-size: 18px;
	font-weight: 500;
	color: #2e2e2e;
}

.input-field input {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

.input-field select {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

.input-field option {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
	color: #707070;
}

.input-field input[type="date"]:valid {
	color: #333;
}


.cause-field {
	display: flex;
	width: calc(100% / 2 - 15px);
	flex-direction: column;
	margin: 4px 0;

}

.cause-field label{
	font-size: 18px;
	font-weight: 500;
	color: #2e2e2e;
}

.cause-field textarea {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    resize: horizontal;
}

.subjectFields button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	max-width: 45px;
	width: 100%;
	border: 1px solid #4070f4;
	border-radius: 5px;
	margin: 25px 10px;
	transition: all 0.3s linear;
	cursor: pointer;
	background-color: white;
}

.button-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.button-container label {
	font-size: 18px;
	font-weight: 500;
	color: #2e2e2e;
}

.btnText {
	font-size: 18px;
	font-weight: 400;
	color: blue;
}

.subjectFields button:hover {
	background-color: #265df2;
}

.submitBtn {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	max-width: 100px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	margin: 25px 0;
	background-color: #f44336;
	transition: all 0.3s linear;
	cursor: pointer;
	font-size: 18px;
}

.submitBtn:hover {
    background-color: #DA3034;
}