<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="container">
        <div class="banner-info">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Emblem_of_Thammasat_University.svg/1024px-Emblem_of_Thammasat_University.svg.png" alt="">
            <br>
        </div>
        <h1>RequestForm</h1>
        <div class="form-container">
            <form th:action="@{/login}" method="post" class="login-form">
                <div class="input-group">
                    <p>Login</p>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>

                </div>
                <button type="submit">Login</button>
            </form>

        </div>
        <a href="#" class="contact-button">ติดต่อเจ้าหน้าที่ระบบ</a>
    </div>
<script src="login.js"></script>

</body>
</html>